<a href="https://colab.research.google.com/github/ECV21/R-coding-challenges/blob/main/Data_cleaning_and_manipulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data cleaning and Manipulation

To be efficient analysts, we should have good tools for reformatting dats for our needs so we can do our actual owrk like making plots and fitting models.

 To demonstrate, we’ll be working with dataset from ADF&G containing commercial catch data from 1878-1997. https://knb.ecoinformatics.org/#view/df35b.304.2.

#Carga de librería

In [ ]:
library(dplyr)
library(tidyr)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

#Carga de datos

In [ ]:
original_data <- read.csv(url("https://knb.ecoinformatics.org/knb/d1/mn/v2/object/df35b.302.1", method = "libcurl"),
                    stringsAsFactors = FALSE)
head(original_data)

  Region Year Chinook Sockeye Coho Pink Chum All notesRegCode
1 SSE    1886 0         5      0    0   0      5
2 SSE    1887 0       155      0    0   0    155
3 SSE    1888 0       224     16    0   0    240
4 SSE    1889 0       182     11   92   0    285
5 SSE    1890 0       251     42    0   0    292
6 SSE    1891 0       274     24    0   0    298

#Selecting/removing columns

In [ ]:
#Let's select only the columns we want:

original_data %>%
  select(Region, Year, Chinook, Sockeye, Coho, Pink, Chum) %>%
  head()

  Region Year Chinook Sockeye Coho Pink Chum
1 SSE    1886 0         5      0    0   0
2 SSE    1887 0       155      0    0   0
3 SSE    1888 0       224     16    0   0
4 SSE    1889 0       182     11   92   0
5 SSE    1890 0       251     42    0   0
6 SSE    1891 0       274     24    0   0

In [ ]:
#SELECT allows you to say which columns you DON'T want, by passing unquoted column names preceded by minus(-) signs
original_data %>%
  select(-All, -notesRegCode) %>%
  head(15)

   Region Year Chinook Sockeye Coho Pink Chum
1  SSE    1886 0         5       0     0 0
2  SSE    1887 0       155       0     0 0
3  SSE    1888 0       224      16     0 0
4  SSE    1889 0       182      11    92 0
5  SSE    1890 0       251      42     0 0
6  SSE    1891 0       274      24     0 0
7  SSE    1892 0       207      11     8 0
8  SSE    1893 0       189       1   187 0
9  SSE    1894 0       253       5   529 0
10 SSE    1895 3       408       8   606 0
11 SSE    1896 4       989     192   996 0
12 SSE    1897 5       791     161  2218 7
13 SSE    1898 9       708     132   673 0
14 SSE    1899 12      797     139  1545 1
15 SSE    1900 0       763      84  2040 2

In [ ]:
#Let's save our changes by overwritting the original_data variable:

original_data <- original_data %>%
  select(-All, -notesRegCode)

#Changing shape

In [ ]:
#Crear nuevas columnas: species, catch; ignorar Region and YEAR
original_data <- original_data %>%
  gather(species, catch, -Region, -Year)

head(original_data)

  Region Year species catch
1 SSE    1886 Chinook 0
2 SSE    1887 Chinook 0
3 SSE    1888 Chinook 0
4 SSE    1889 Chinook 0
5 SSE    1890 Chinook 0
6 SSE    1891 Chinook 0

#Renaming columns

In [ ]:
#Let's rename the "catch" column to be called catch_thousands:
original_data1 <- original_data %>%
  rename(catch_thousands = catch)
head()

ERROR: Error in head.default(): argument "x" is missing, with no default

In [ ]:
head(original_data1)

  Region Year species catch_thousands
1 SSE    1886 Chinook 0
2 SSE    1887 Chinook 0
3 SSE    1888 Chinook 0
4 SSE    1889 Chinook 0
5 SSE    1890 Chinook 0
6 SSE    1891 Chinook 0

#Adding columns

In [ ]:
#Let's create a new column called "catch" whit units of fish (instead of thousands of fish)

#ver tipo de datos:
summary(original_data1)

    Region               Year        species          catch_thousands
 Length:8540        Min.   :1878   Length:8540        Length:8540
 Class :character   1st Qu.:1922   Class :character   Class :character
 Mode  :character   Median :1947   Mode  :character   Mode  :character
                    Mean   :1946
                    3rd Qu.:1972
                    Max.   :1997

In [ ]:
#la columna catch_thousands es tipo character, convertir a integers

catch_integers <- as.integer(original_data1$catch_thousands)

Warning message in eval(expr, envir, enclos):
“NAs introduced by coercion”

In [ ]:
#R talks us that it couldn't convert ever value to an integer, for those values it couldn't convert, it put NA in its place.

#We can find put which values are NAs
which(is.na(catch_integers))

[1] 401

In [ ]:
#It looks like the 401st value is the proble,

original_data1[401,]

    Region Year species catch_thousands
401 GSE    1955 Chinook I

In [ ]:
original_data1 <- original_data1 %>%
  mutate(catch_thousands = ifelse(catch_thousands == "I", 1, catch_thousands),
         catch_thousands = as.integer(catch_thousands))

In [ ]:
#convertir en unidades:
original_data1 <- original_data1 %>%
  mutate(catch = catch_thousands * 1000)

summary(original_data1)

    Region               Year        species          catch_thousands
 Length:8540        Min.   :1878   Length:8540        Min.   :    0.0
 Class :character   1st Qu.:1922   Class :character   1st Qu.:    0.0
 Mode  :character   Median :1947   Mode  :character   Median :   36.0
                    Mean   :1946                      Mean   :  873.2
                    3rd Qu.:1972                      3rd Qu.:  377.2
                    Max.   :1997                      Max.   :53676.0
     catch
 Min.   :       0
 1st Qu.:       0
 Median :   36000
 Mean   :  873249
 3rd Qu.:  377250
 Max.   :53676000

In [ ]:
# Let's remove the "catch_thousands" column for now since we don't neet it.

original_data1 <- original_data1 %>%
  select(-catch_thousands)
head(original_data1)

  Region Year species catch
1 SSE    1886 Chinook 0
2 SSE    1887 Chinook 0
3 SSE    1888 Chinook 0
4 SSE    1889 Chinook 0
5 SSE    1890 Chinook 0
6 SSE    1891 Chinook 0

#Group by and summarise

In [ ]:
original_data1 %>%
  group_by(Region) %>%
  summarise(mean(catch))

   Region mean(catch)
1  ALU      40383.91
2  BER      16372.55
3  BRB    2709796.49
4  CHG     315487.27
5  CKI     683571.43
6  COP     179223.40
7  GSE     133841.46
8  KOD    1528350.00
9  KSK      67642.35
10 KTZ      18836.14
11 NOP     229493.48
12 NRS      51502.70
13 NSE    1825020.87
14 PWS    1419236.70
15 SOP    1110942.22
16 SSE    3184660.71
17 YAK      91922.92
18 YUK      68645.57

In [ ]:
original_data1 %>%
  group_by(species) %>%
  summarise(max(catch))

  species max(catch)
1 Chinook   609000
2 Chum    10459000
3 Coho     3220000
4 Pink    53676000
5 Sockeye 44269000

In [ ]:
# ...to count the number of rows in each group

original_data1 %>%
  group_by(Region) %>%
  summarize(n=n())

   Region n
1  ALU    435
2  BER    510
3  BRB    570
4  CHG    550
5  CKI    525
6  COP    470
7  GSE    410
8  KOD    580
9  KSK    425
10 KTZ    415
11 NOP    460
12 NRS    185
13 NSE    575
14 PWS    545
15 SOP    450
16 SSE    560
17 YAK    480
18 YUK    395

#Filtering rows

In [ ]:
original_data1 %>%
  filter(Region == 'SSE') %>%
  head(12)

   Region Year species catch
1  SSE    1886 Chinook    0
2  SSE    1887 Chinook    0
3  SSE    1888 Chinook    0
4  SSE    1889 Chinook    0
5  SSE    1890 Chinook    0
6  SSE    1891 Chinook    0
7  SSE    1892 Chinook    0
8  SSE    1893 Chinook    0
9  SSE    1894 Chinook    0
10 SSE    1895 Chinook 3000
11 SSE    1896 Chinook 4000
12 SSE    1897 Chinook 5000

In [ ]:
original_data1 %>%
  filter(Region == 'SSE' & species == 'Coho') %>%
  head(12)

   Region Year species catch
1  SSE    1886 Coho         0
2  SSE    1887 Coho         0
3  SSE    1888 Coho     16000
4  SSE    1889 Coho     11000
5  SSE    1890 Coho     42000
6  SSE    1891 Coho     24000
7  SSE    1892 Coho     11000
8  SSE    1893 Coho      1000
9  SSE    1894 Coho      5000
10 SSE    1895 Coho      8000
11 SSE    1896 Coho    192000
12 SSE    1897 Coho    161000

#Sorting your data

In [ ]:
#agrupa el conjunto de datos por la columna "Region", calcula el promedio del
# "catch" para cada región y luego ordena los resultados en función de este promedio.

original_data1 %>%
  group_by(Region) %>%
  summarise(mean_catch = mean(catch)) %>%
  arrange(mean_catch)

   Region mean_catch
1  BER      16372.55
2  KTZ      18836.14
3  ALU      40383.91
4  NRS      51502.70
5  KSK      67642.35
6  YUK      68645.57
7  YAK      91922.92
8  GSE     133841.46
9  COP     179223.40
10 NOP     229493.48
11 CHG     315487.27
12 CKI     683571.43
13 SOP    1110942.22
14 PWS    1419236.70
15 KOD    1528350.00
16 NSE    1825020.87
17 BRB    2709796.49
18 SSE    3184660.71

In [ ]:
# The default sorting order of "arrange()" is to sort in ascending order;
# to reverse the sort order:

original_data1 %>%
  group_by(Region) %>%
  summarise(mean_catch = mean(catch)) %>%
  arrange(desc(mean_catch))

   Region mean_catch
1  SSE    3184660.71
2  BRB    2709796.49
3  NSE    1825020.87
4  KOD    1528350.00
5  PWS    1419236.70
6  SOP    1110942.22
7  CKI     683571.43
8  CHG     315487.27
9  NOP     229493.48
10 COP     179223.40
11 GSE     133841.46
12 YAK      91922.92
13 YUK      68645.57
14 KSK      67642.35
15 NRS      51502.70
16 ALU      40383.91
17 KTZ      18836.14
18 BER      16372.55

#Joins

In [ ]:
#Manipulating more than one dataframe

In [ ]:
#second data frame:

region_defs <- read.csv(url("https://knb.ecoinformatics.org/knb/d1/mn/v2/object/df35b.303.1", method = "libcurl"),
                        stringsAsFactors = FALSE)
head(region_defs)

  code    mgmtArea                                  areaClass regionCode
1 GSE     Unallocated Southeast Alaska              mgmtArea  1
2 NSE     Northern Southeast Alaska                 mgmtArea  1
3 SSE     Southern Southeast Alaska                 mgmtArea  1
4 YAK     Yakutat                                   mgmtArea  1
5 PWSmgmt Prince William Sound Management Area      mgmtArea  2
6 BER     Bering River Subarea Copper River Subarea subarea   2
  notes
1 Included are Southeastern Alaska catches which could not be assigned\nto Northern or Southern Southeastern Alaska or Yakutat
2 Northern Southern Alaska includes Districts 9 through 16 from summer straight northwest to and including the fairweather Grounds but excludes Yakutat fisheries unless otherwise noted.
3
4
5 Includes the Bering River and Copper River and Prince William Sound Subareas
6

In [ ]:
#We can see that the column names don't exactly match in both dataframe


# LEFT JOIN entre tabla REGION_DEFS y ORIGNAL_DATA1
original_data1 %>%
  group_by(Region) %>%
  summarise(total_catch = sum(catch)) %>%
  left_join(region_defs, by = c("Region" = "code"))

   Region total_catch mgmtArea                                  areaClass
1  ALU      17567000  Aleutian Islands Subarea                  subarea
2  BER       8350000  Bering River Subarea Copper River Subarea subarea
3  BRB    1544584000  Bristol Bay Management Area               mgmtArea
4  CHG     173518000  Chignik Management Area                   mgmtArea
5  CKI     358875000  Cook Inlet Management Area                mgmtArea
6  COP      84235000  Copper River Subarea                      subarea
7  GSE      54875000  Unallocated Southeast Alaska              mgmtArea
8  KOD     886443000  Kodiak Management Area                    mgmtArea
9  KSK      28748000  Kuskokwim Management Area                 mgmtArea
10 KTZ       7817000  Kotzebue Management Area                  mgmtArea
11 NOP     105567000  NorthPeninsual Subarea                    subarea
12 NRS       9528000  Norton Sound Management Area              mgmtArea
13 NSE    1049387000  Northern Southeast Alaska                 mgmtArea
14 PWS     773484000  Prince William Sound Subarea              subarea
15 SOP     499924000  South Peninsula Subarea                   subarea
16 SSE    1783410000  Southern Southeast Alaska                 mgmtArea
17 YAK      44123000  Yakutat                                   mgmtArea
18 YUK      27115000  Yukon Management Area                     mgmtArea
   regionCode
1  4
2  2
3  2
4  4
5  2
6  2
7  1
8  4
9  3
10 3
11 4
12 3
13 1
14 2
15 4
16 1
17 1
18 3
   notes
1
2
3
4
5  Cook Inlet includes Resurrection Bay unless otherwise noted
6
7  Included are Southeastern Alaska catches which could not be assigned\nto Northern or Southern Southeastern Alaska or Yakutat
8
9
10
11
12
13 Northern Southern Alaska includes Districts 9 through 16 from summer straight northwest to and including the fairweather Grounds but excludes Yakutat fisheries unless otherwise noted.
14
15
16
17
18

In [ ]:
#Another way is to use RENAME to change the column name CODE to REGION in the REGION_DEFS dataframe,
# and run the left_join this way:

region_defs <- region_defs %>%
  rename(Region = code, Region_Name = mgmtArea )

original_data1 %>%
  group_by(Region) %>%
  summarise(total_catch = sum(catch)) %>%
  left_join(region_defs, by = c("Region"))

   Region total_catch Region_Name                               areaClass
1  ALU      17567000  Aleutian Islands Subarea                  subarea
2  BER       8350000  Bering River Subarea Copper River Subarea subarea
3  BRB    1544584000  Bristol Bay Management Area               mgmtArea
4  CHG     173518000  Chignik Management Area                   mgmtArea
5  CKI     358875000  Cook Inlet Management Area                mgmtArea
6  COP      84235000  Copper River Subarea                      subarea
7  GSE      54875000  Unallocated Southeast Alaska              mgmtArea
8  KOD     886443000  Kodiak Management Area                    mgmtArea
9  KSK      28748000  Kuskokwim Management Area                 mgmtArea
10 KTZ       7817000  Kotzebue Management Area                  mgmtArea
11 NOP     105567000  NorthPeninsual Subarea                    subarea
12 NRS       9528000  Norton Sound Management Area              mgmtArea
13 NSE    1049387000  Northern Southeast Alaska                 mgmtArea
14 PWS     773484000  Prince William Sound Subarea              subarea
15 SOP     499924000  South Peninsula Subarea                   subarea
16 SSE    1783410000  Southern Southeast Alaska                 mgmtArea
17 YAK      44123000  Yakutat                                   mgmtArea
18 YUK      27115000  Yukon Management Area                     mgmtArea
   regionCode
1  4
2  2
3  2
4  4
5  2
6  2
7  1
8  4
9  3
10 3
11 4
12 3
13 1
14 2
15 4
16 1
17 1
18 3
   notes
1
2
3
4
5  Cook Inlet includes Resurrection Bay unless otherwise noted
6
7  Included are Southeastern Alaska catches which could not be assigned\nto Northern or Southern Southeastern Alaska or Yakutat
8
9
10
11
12
13 Northern Southern Alaska includes Districts 9 through 16 from summer straight northwest to and including the fairweather Grounds but excludes Yakutat fisheries unless otherwise noted.
14
15
16
17
18

#Split a single column into numerous (or numerous into a single)

In [ ]:
#Let's make a new dataframe with fake data to illustrate

dates_df <- data.frame(date = c("5/24/1930",
                                "5/25/1930",
                                "5/26/1930",
                                "5/27/1930",
                                "5/28/1930"),
                       stringsAsFactors = FALSE)

dates_df %>%
  separate(date, c("month", "day", "year"), "/")

  month day year
1 5     24  1930
2 5     25  1930
3 5     26  1930
4 5     27  1930
5 5     28  1930

In [ ]:
cities_df <- data.frame(city = c("Juneau AK",
                                 "Sitka AK",
                                 "Anchorage AK"),
                        stringsAsFactors = FALSE)

#Split the city column in the following dataframe into city and state_code columns:
cities_df %>%
  separate(city, c("city", "state_code"), " ")

  city      state_code
1 Juneau    AK
2 Sitka     AK
3 Anchorage AK

In [ ]:
#unite() does just the reverse of separate():

dates_df %>%
  separate(date, c("month", "day", "year"), "/") %>%
  unite(date, month, day, year, sep="/")

  date
1 5/24/1930
2 5/25/1930
3 5/26/1930
4 5/27/1930
5 5/28/1930